<a href="https://colab.research.google.com/github/MarcoOG69/Examen-1/blob/main/Examen1_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#importat librerias
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
#cargar archivo
from google.colab import files 
files.upload()

In [4]:
#convertir en dataframe
df=pd.read_excel("consumer_mit_lift_lab.xlsx")
df.head(5)

,_record_id,_title,_server_updated_at,_updated_by,_geometry,_latitude,_longitude,282_payment_method_that_purchase,283_fulfill_needs,300_did_not_find,...,81_number_online_purchases_month,288_number_app_purchases_month,289_number_whatsapp_purchases_month,83_willingness_ultrafast_delivery,84_willingness_sameday_delivery,241_age_of_the_interviewee,240_gender_interviewee,indicate_the_type_of_store,name_of_the_store,storefront_picture_just_once_if_possible
0,060a856c-e3b8-41a7-b680-9756172d1c29,"November 12, 2022",2022-11-12 22:43:08 UTC,Ulises Núñez Bautista,SRID=4326;POINT(-98.2349802856 19.0598413203),19.059841,-98.234980,Efectivo,no,agua de coco,...,1,0,0,0,0,35,Male,Cafeteria,Paleteria El Carmen,NaN
1,c42fdf22-b93b-443e-8f46-6043613cb0c3,"November 12, 2022",2022-11-12 22:15:02 UTC,Salomon Abdala Perez,SRID=4326;POINT(-98.2335660729 19.05847939),19.058479,-98.233566,Efectivo,yes,NaN,...,1,2,0,35,50,27,Female,Grocery store (aka. nanostore),Gerardo Saénz,NaN
2,3ccaedc0-949e-4555-afad-b2e1d77c3219,"November 12, 2022",2022-11-12 22:15:02 UTC,Salomon Abdala Perez,SRID=4326;POINT(-98.2303385023 19.0620767997),19.062077,-98.230339,Efectivo,yes,NaN,...,0,0,0,40,25,42,Female,Micro-restaurant (aka. fondita),Rozt,1 Photo
3,91d8a240-af2c-451b-900f-3480f82e05db,"November 12, 2022",2022-11-12 20:41:38 UTC,Jorge Alberto Ostorga Flores,SRID=4326;POINT(-98.2329163449 19.0555346049),19.055535,-98.232916,Tarjeta de débito y/o crédito,yes,NaN,...,2,3,0,0,0,27,Female,Cafeteria,Café Colibrí,1 Photo
4,3efefc56-bd45-4e4a-bf02-ab725e9fb41a,"November 12, 2022",2022-11-12 19:49:13 UTC,Jorge Alberto Ostorga Flores,SRID=4326;POINT(-98.2329944224 19.0590117522),19.059012,-98.232994,Efectivo,yes,NaN,...,2,5,0,0,50,35,Female,Cafeteria,La fête,1 Photo

In [ ]:
#Identificar valores nulos
valores_nulos=df.isnull().sum()
valores_nulos

In [15]:
#sustitur con un string concreto
df["300_did_not_find"]=df["300_did_not_find"].fillna("Nada")

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115 entries, 0 to 114
Data columns (total 36 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   _record_id                                115 non-null    object
 1   _title                                    115 non-null    object
 2   _server_updated_at                        115 non-null    object
 3   _updated_by                               115 non-null    object
 4   _geometry                                 115 non-null    object
 5   _latitude                                 115 non-null    float64
 6   _longitude                                115 non-null    float64
 7   282_payment_method_that_purchase          115 non-null    object
 8   283_fulfill_needs                         115 non-null    object
 9   300_did_not_find                          115 non-null    object
 10  237_distance_household_interviewee        115 non-null    object
 11  299_means_transportation_consumer         115 non-null    object
 12  238_frequency_buying_store                115 non-null    int64
 13  284_additional_products_store             115 non-null    object
 14  301_electricity_bill                      115 non-null    object
 15  305_electricity_bill_store                115 non-null    object
 16  302_water_bill                            115 non-null    object
 17  306_water_bill_store                      115 non-null    object
 18  303_gas_bill                              115 non-null    object
 19  307_gas_bill_store                        115 non-null    object
 20  286_topups                                115 non-null    object
 21  308_topups_in_store                       115 non-null    object
 22  287_wire_transfers                        115 non-null    object
 23  309_wiretransfers_in_store                115 non-null    object
 24  320_other_services_in_store               115 non-null    object
 25  304_additional_services_store             115 non-null    object
 26  81_number_online_purchases_month          115 non-null    int64
 27  288_number_app_purchases_month            115 non-null    int64
 28  289_number_whatsapp_purchases_month       115 non-null    int64
 29  83_willingness_ultrafast_delivery         115 non-null    int64
 30  84_willingness_sameday_delivery           115 non-null    int64
 31  241_age_of_the_interviewee                115 non-null    int64
 32  240_gender_interviewee                    115 non-null    object
 33  indicate_the_type_of_store                115 non-null    object
 34  name_of_the_store                         115 non-null    object
 35  storefront_picture_just_once_if_possible  115 non-null    object
dtypes: float64(2), int64(7), object(27)
memory usage: 32.5+ KB

In [19]:
#sustitur con un string concreto
df["284_additional_products_store"]=df["284_additional_products_store"].fillna("Nada")

In [23]:
#sustitur con un string concreto
df["305_electricity_bill_store"]=df["305_electricity_bill_store"].fillna("Nada")

In [25]:
#sustitur con un string concreto
df["306_water_bill_store"]=df["306_water_bill_store"].fillna("Nada")

In [27]:
#sustitur con un string concreto
df["307_gas_bill_store"]=df["307_gas_bill_store"].fillna("Nada")

In [29]:
#sustitur con un string concreto
df["308_topups_in_store"]=df["308_topups_in_store"].fillna("Nada")

In [32]:
#sustitur con un string concreto
df["309_wiretransfers_in_store"]=df["309_wiretransfers_in_store"].fillna("Nada")

In [33]:
#sustitur con un string concreto
df["304_additional_services_store"]=df["304_additional_services_store"].fillna("Nada")

In [35]:
#sustitur con un string concreto
df["storefront_picture_just_once_if_possible"]=df["storefront_picture_just_once_if_possible"].fillna("Nada")

In [37]:
#Identificar valores nulos
valores_nulos=df.isnull().sum().sum()
valores_nulos

0

In [ ]:
#filtro por columnas
filtro3a=df.iloc[:,[12,26,27,28,29,30,31]]
filtro3a

In [ ]:
#Diagrama de box & whiskers
fig=plt.figure(figsize=(10,6))
plt.boxplot(filtro3a, vert=False)
plt.title("Outliers de Precio Venta")
plt.show()

In [ ]:
#Metodo de desviación estandar
y=filtro3a
Limite_Superior=y.mean()+3*y.std()
Limite_Inferior=y.mean()-3*y.std()
print("Limite superior permitido", Limite_Superior)
print("Limite inferior permitido", Limite_Inferior)

In [ ]:
#Encontrar outliers
outliers=filtro3a[(y>Limite_Superior)|(y<Limite_Inferior)]
outliers

In [ ]:
#Obtenemos datos limpios
df_clean=filtro3a[(y<=Limite_Superior)&(y>=Limite_Inferior)]
df_clean

In [ ]:
#Diagrama de box & whiskers
fig=plt.figure(figsize=(10,6))
plt.boxplot(df_clean)
plt.title("Outliers de Precio Venta")
plt.show()

In [74]:
#Identificar valores nulos
valores_nulos=df_clean.isnull().sum()
valores_nulos

238_frequency_buying_store             2
81_number_online_purchases_month       2
288_number_app_purchases_month         1
289_number_whatsapp_purchases_month    1
83_willingness_ultrafast_delivery      2
84_willingness_sameday_delivery        2
241_age_of_the_interviewee             1
dtype: int64

In [80]:
#Sexto Metodo
#sustiruir hacia atrás backwardfill
datac=df_clean.fillna(method="ffill")

In [ ]:
#Identificar valores nulos
valores_nulos=datac.isnull().sum().sum()
valores_nulos

In [ ]:
df.info()

In [ ]:
#filtro por columnas
filtro3b=df.iloc[:,[0,1,2,3,4,5,6,7,8,9,10,11,13,14,15,16,17,18,19,20,21,22,23,24,25,32,33,34,35]]
filtro3b

In [ ]:
#unimos los dataframes
Datos_limpios = pd.concat([filtro3a, filtro3b], axis=1)
Datos_limpios

In [ ]:
Datos_limpios.info()

In [ ]:
#Identificar valores nulos
valores_nulos=Datos_limpios.isnull().sum()
valores_nulos

In [100]:
#Convertir archivo filtrado a csv
Datos_limpios.to_csv("Datos_limpios.csv")
#descargar archivo creado
from google.colab import files
files.download("Datos_limpios.csv")